# Configurações do Banco de Dados (PostgreSQL)
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASS=
DB_NAME=mysales
DB_NAME_TEST=mysalestest

# Segurança (JWT)
APP_SECRET=

# Configurações de E-mail (Nodemailer)
EMAIL_USER=
EMAIL_PASS=

# Configurações do Servidor
APP_API_URL=http://localhost:3333

# Configurações do Cache (Redis)
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASS=
